<script>
    const allAdminTools = JSON.parse(`<%- JSON.stringify(content.adminTool) %>`);
  </script>
  
  <div class="flex flex-col gap-6 rounded-lg">
    <p class="text-zinc-700 dark:text-zinc-300">
      This is the admin panel where you can view and manage all the tools in the system.
    </p>
  
    <div class="overflow-x-auto rounded-lg border border-bashful dark:border-lavender">
      <table class="min-w-full text-left rtl:text-right text-zinc-700 dark:text-zinc-300">
        <thead class="bg-white dark:bg-lavender text-black">
          <tr>
            <th scope="col" class="px-6 py-3 font-semibold">
              ID
            </th>
            <th scope="col" class="px-6 py-3 font-semibold">
              Name
            </th>
            <th scope="col" class="px-6 py-3 font-semibold">
              Section
            </th>
            <th scope="col" class="px-6 py-3 font-semibold">
              Premium
            </th>
            <th scope="col" class="px-6 py-3 font-semibold">
              State
            </th>
            <th scope="col" class="px-6 py-3 font-semibold">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% content.adminTool.forEach(item => { %>
          <% const tool = item.tools; %>
          <% const section = item.sections; %>
          <tr class="bg-white dark:bg-zinc-900 hover:bg-zinc-200 dark:hover:bg-zinc-800/80 transition-colors">
            <td class="px-6 py-4 border-b border-zinc-300 dark:border-zinc-700">
              <%= tool.id %>
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-zinc-900 whitespace-nowrap dark:text-white border-b border-zinc-300 dark:border-zinc-700">
              <%= tool.name %>
            </th>
            <td class="px-6 py-4 border-b border-zinc-300 dark:border-zinc-700">
              <%= section.name %>
            </td>
            <td class="px-6 py-4 border-b border-zinc-300 dark:border-zinc-700">
              <label class="relative inline-flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  id="premium-toggle-<%= tool.id %>"
                  value=""
                  class="sr-only peer"
                  <%= tool.premium ? 'checked' : '' %>
                >
                <div class="w-11 h-6 bg-zinc-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-pink-200 dark:peer-focus:ring-pink-700 rounded-full peer dark:bg-zinc-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-zinc-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-zinc-600 peer-checked:bg-pink-400"></div>
                <span id="premium-label-<%= tool.id %>" class="ms-3 text-sm font-medium text-zinc-900 dark:text-zinc-300"><%= tool.premium ? 'Premium' : 'Free' %></span>
              </label>
            </td>
            <td class="px-6 py-4 border-b border-zinc-300 dark:border-zinc-700">
              <label class="relative inline-flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  id="state-toggle-<%= tool.id %>"
                  value=""
                  class="sr-only peer"
                  <%= tool.state === 'enabled' ? 'checked' : '' %>
                >
                <div class="w-11 h-6 bg-zinc-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-pink-200 dark:peer-focus:ring-pink-700 rounded-full peer dark:bg-zinc-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-zinc-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-zinc-600 peer-checked:bg-pink-400"></div>
                <span id="state-label-<%= tool.id %>" class="ms-3 text-sm font-medium text-zinc-900 dark:text-zinc-300"><%= tool.state === 'enabled' ? 'Enabled' : 'Disabled' %></span>
              </label>
            </td>
            <td class="px-6 py-4 border-b border-zinc-300 dark:border-zinc-700">
              <a href="/admin/tools/edit/<%= tool.id %>" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              <span class="text-zinc-400 dark:text-zinc-600 mx-2">|</span>
              <a href="/admin/tools/delete/<%= tool.id %>" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>