<script>
  const allTools = JSON.parse(`<%- JSON.stringify(content.tools) %>`);
</script>

<div class="flex flex-col gap-3 rounded-lg bg-zinc-300 p-8 dark:bg-zinc-700">
  <p>
    A set of tools, maybe useful, maybe useless for fellow developers, developed
    using the Model-View-Controller setup for the course of
    <span class="text-cadillac dark:text-lavender font-bold"
      >Software Design</span
    >.
  </p>

  <p>
    Created by rebels of the system, rising up against the C# cult led by the
    theory teacher. The main point of this system is to be able to
    <span class="text-cadillac dark:text-lavender font-bold"
      >make changes to tools</span
    >
    (create new, remove, and edit tools) at runtime without the needs of
    recompiling or redeploying.
  </p>
</div>

<div class="relative w-full px-4">
  <input
    type="text"
    name="search"
    id="search"
    placeholder="Search tools..."
    class="dark:border-pearl my-4 min-h-12 w-full rounded-lg border border-zinc-700 px-4 py-2 placeholder:opacity-50"
  />

  <div
    class="absolute right-4 -bottom-4 left-4 z-10 hidden translate-y-full flex-col divide-y divide-zinc-300 rounded-lg border border-zinc-300 bg-white shadow-md dark:divide-zinc-600 dark:border-zinc-600 dark:bg-zinc-800"
    id="search-results"
  ></div>
</div>

<script defer>
  function createSearchResultCell(tool) {
    return `
    <a href="/${tool.state == "disabled" ? "#" : tool.path}" class="flex flex-row items-center px-4 py-2 gap-2">
      <img
        src="/static/images/tools/dark/${tool.path}.svg"
        alt=""
        class="hidden size-6 dark:block"
      />
      <img
        src="/static/images/tools/light/${tool.path}.svg"
        alt=""
        class="size-6 dark:hidden"
      />

      <div class="flex flex-col">
        <div class="flex flex-row gap-2 items-center">
          <h3 class="text-bashful dark:text-cotton-candy text-lg font-semibold">
            ${tool.name}
          </h3>

          ${
            tool.premium
              ? `
              <div class="group relative">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 -960 960 960"
                  class="size-6 fill-amber-600 dark:fill-amber-300"
                >
                  <path
                    d="M200-160v-80h560v80H200Zm0-140-51-321q-2 0-4.5.5t-4.5.5q-25 0-42.5-17.5T80-680q0-25 17.5-42.5T140-740q25 0 42.5 17.5T200-680q0 7-1.5 13t-3.5 11l125 56 125-171q-11-8-18-21t-7-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820q0 15-7 28t-18 21l125 171 125-56q-2-5-3.5-11t-1.5-13q0-25 17.5-42.5T820-740q25 0 42.5 17.5T880-680q0 25-17.5 42.5T820-620q-2 0-4.5-.5t-4.5-.5l-51 321H200Zm68-80h424l26-167-105 46-133-183-133 183-105-46 26 167Zm212 0Z"
                  />
                </svg>

                <span
                  class="absolute top-0 left-1/2 hidden w-fit -translate-x-1/2 -translate-y-full rounded-lg bg-white px-2 py-1 text-xs font-semibold text-black shadow-sm group-hover:block"
                >
                  Premium
                </span>
              </div>`
              : ""
          }

          ${
            tool.state == "disabled"
              ? `<div class="group relative">
            <svg
              class="size-4 text-rose-600 dark:text-rose-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
                d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>

            <span
              class="absolute top-0 left-1/2 hidden w-fit -translate-x-1/2 -translate-y-full rounded-lg bg-white px-2 py-1 text-xs font-semibold text-black shadow-sm group-hover:block"
            >
              Disabled
            </span>
          </div>`
              : ""
          }
        </div>

        <p>
          ${tool.description}
        </p>
      </div>
    </a>
    `;
  }

  $("#search").on("input", (e) => {
    const query = $("#search").val().toLowerCase();
    if (!query) {
      $("#search-results").removeClass("flex").addClass("hidden");
    } else {
      $("#search-results").removeClass("hidden").addClass("flex");
      const tools = allTools
        .flatMap((s) => s.tools)
        .filter(
          (t) =>
            t.name.toLowerCase().includes(query) ||
            t.description.toLowerCase().includes(query) ||
            t.path.toLowerCase().includes(query),
        );

      $("#search-results").html("");
      tools.forEach((tool) =>
        $("#search-results").html(
          (_, old) => old + createSearchResultCell(tool),
        ),
      );
    }
  });
</script>

<div class="mt-12 flex w-full flex-col gap-4 lg:p-4">
  <div class="flex w-full items-center justify-between gap-4">
    <h2 class="text-xl font-semibold">All Tools</h2>

    <div class="hidden items-center gap-2 lg:flex">
      <button id="layout-grid-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="dark:fill-pearl dark:hover:fill-pearl/50 size-6 cursor-pointer fill-zinc-950 duration-200 hover:fill-zinc-950/50"
        >
          <path
            d="M200-520q-33 0-56.5-23.5T120-600v-160q0-33 23.5-56.5T200-840h160q33 0 56.5 23.5T440-760v160q0 33-23.5 56.5T360-520H200Zm0 400q-33 0-56.5-23.5T120-200v-160q0-33 23.5-56.5T200-440h160q33 0 56.5 23.5T440-360v160q0 33-23.5 56.5T360-120H200Zm400-400q-33 0-56.5-23.5T520-600v-160q0-33 23.5-56.5T600-840h160q33 0 56.5 23.5T840-760v160q0 33-23.5 56.5T760-520H600Zm0 400q-33 0-56.5-23.5T520-200v-160q0-33 23.5-56.5T600-440h160q33 0 56.5 23.5T840-360v160q0 33-23.5 56.5T760-120H600ZM200-600h160v-160H200v160Zm400 0h160v-160H600v160Zm0 400h160v-160H600v160Zm-400 0h160v-160H200v160Zm400-400Zm0 240Zm-240 0Zm0-240Z"
          />
        </svg>
      </button>

      <button id="layout-col-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="dark:fill-pearl dark:hover:fill-pearl/50 size-6 cursor-pointer fill-zinc-950 duration-200 hover:fill-zinc-950/50"
        >
          <path
            d="M200-520q-33 0-56.5-23.5T120-600v-160q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v160q0 33-23.5 56.5T760-520H200Zm0-80h560v-160H200v160Zm0 480q-33 0-56.5-23.5T120-200v-160q0-33 23.5-56.5T200-440h560q33 0 56.5 23.5T840-360v160q0 33-23.5 56.5T760-120H200Zm0-80h560v-160H200v160Zm0-400v-160 160Zm0 400v-160 160Z"
          />
        </svg>
      </button>
    </div>
  </div>

  <div
    id="content-layout"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
  >
    <% content.tools.flatMap(section => section.tools).forEach(tool => { %>
    <a
      class="dark:hover:border-lavender hover:border-bashful relative flex cursor-pointer flex-col gap-4 rounded-xl border-2 border-transparent bg-transparent p-6 duration-200 hover:bg-zinc-300 dark:hover:bg-zinc-700"
      href="/<%= tool.state == 'disabled' ? '#' : tool.path %>"
    >
      <div class="flex w-full flex-row items-center gap-2">
        <img
          src="/static/images/tools/dark/<%= tool.path %>.svg"
          alt=""
          class="hidden size-6 dark:block"
        />
        <img
          src="/static/images/tools/light/<%= tool.path %>.svg"
          alt=""
          class="size-6 dark:hidden"
        />
        <h3 class="text-bashful dark:text-cotton-candy text-lg font-semibold">
          <%= tool.name %>
        </h3>

        <% if (tool.premium) { %>
        <div class="group relative">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
            class="size-6 fill-amber-600 dark:fill-amber-300"
          >
            <path
              d="M200-160v-80h560v80H200Zm0-140-51-321q-2 0-4.5.5t-4.5.5q-25 0-42.5-17.5T80-680q0-25 17.5-42.5T140-740q25 0 42.5 17.5T200-680q0 7-1.5 13t-3.5 11l125 56 125-171q-11-8-18-21t-7-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820q0 15-7 28t-18 21l125 171 125-56q-2-5-3.5-11t-1.5-13q0-25 17.5-42.5T820-740q25 0 42.5 17.5T880-680q0 25-17.5 42.5T820-620q-2 0-4.5-.5t-4.5-.5l-51 321H200Zm68-80h424l26-167-105 46-133-183-133 183-105-46 26 167Zm212 0Z"
            />
          </svg>

          <span
            class="absolute top-0 left-1/2 hidden w-fit -translate-x-1/2 -translate-y-full rounded-lg bg-white px-2 py-1 text-xs font-semibold text-black shadow-sm group-hover:block"
          >
            Premium
          </span>
        </div>
        <% } %> <% if (tool.state == "disabled") { %>
        <div class="group relative">
          <svg
            class="h-[16px] w-[16px] text-rose-600 dark:text-rose-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>

          <span
            class="absolute top-0 left-1/2 hidden w-fit -translate-x-1/2 -translate-y-full rounded-lg bg-white px-2 py-1 text-xs font-semibold text-black shadow-sm group-hover:block"
          >
            Disabled
          </span>
        </div>
        <% } %>
      </div>

      <p><%= tool.description %></p>
    </a>
    <% }) %>
  </div>
</div>

<script defer>
  $("#layout-grid-button").click(() => {
    const state = Flip.getState("#content-layout", {
      props: "grid-template-columns",
    });
    $("#content-layout").addClass("md:grid-cols-2 lg:grid-cols-3");
    Flip.from(state, {
      duration: 0.5,
    });
  });

  $("#layout-col-button").click(() => {
    const state = Flip.getState("#content-layout", {
      props: "grid-template-columns",
    });
    $("#content-layout").removeClass("md:grid-cols-2 lg:grid-cols-3");
    Flip.from(state, {
      duration: 0.5,
    });
  });
</script>
