<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= layout.title %></title>

    <link rel="stylesheet" href="/static/css/tailwind.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- CDNJS for JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- CDNJS for GSAP -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>

    <!-- CDNJS for FLIP -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/Flip.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        console.log(Flip);
        gsap.registerPlugin(Flip);
      });
    </script>
  </head>

  <body
    class="font-poppins text-pearl min-h-screen justify-stretch bg-zinc-900"
  >
    <nav
      class="absolute inset-x-0 top-0 flex h-16 items-center justify-between bg-zinc-800 px-6 duration-200 lg:inset-x-4 lg:top-4 lg:rounded-xl"
    >
      <button
        id="toolbar-toggle"
        class="cursor-pointer duration-500 hover:rotate-180"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="fill-pearl size-6"
        >
          <path
            d="M160-240q-17 0-28.5-11.5T120-280q0-17 11.5-28.5T160-320h640q17 0 28.5 11.5T840-280q0 17-11.5 28.5T800-240H160Zm0-200q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h640q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H160Zm0-200q-17 0-28.5-11.5T120-680q0-17 11.5-28.5T160-720h640q17 0 28.5 11.5T840-680q0 17-11.5 28.5T800-640H160Z"
          />
        </svg>
      </button>

      <h1
        class="from-lavender to-cotton-candy absolute top-1/2 left-1/2 hidden -translate-x-1/2 -translate-y-1/2 cursor-grab bg-gradient-to-r bg-clip-text text-2xl font-black text-transparent duration-200 hover:scale-110 hover:rotate-3 md:block"
      >
        IT Tools
      </h1>

      <a
        href="/login"
        class="bg-cotton-candy border-cotton-candy hover:text-cotton-candy rounded-full border-2 px-6 py-2 font-semibold text-black duration-200 hover:bg-transparent"
      >
        Login
      </a>
    </nav>

    <aside
      id="toolbar"
      class="absolute inset-0 z-50 flex -translate-x-full flex-col items-start justify-center gap-8 overflow-y-scroll bg-zinc-800 px-6 py-16 duration-200 lg:top-24 lg:bottom-4 lg:max-w-64 lg:rounded-xl"
    >
      <button
        id="toolbar-close"
        class="hover:fill-pearl/50 absolute top-6 right-6 lg:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="fill-pearl size-6"
        >
          <path
            d="M480-424 284-228q-11 11-28 11t-28-11q-11-11-11-28t11-28l196-196-196-196q-11-11-11-28t11-28q11-11 28-11t28 11l196 196 196-196q11-11 28-11t28 11q11 11 11 28t-11 28L536-480l196 196q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-424Z"
          />
        </svg>
      </button>

      <% content.tools.forEach(section => { %>
      <div class="flex w-full flex-col gap-4">
        <h2
          class="text-sm font-semibold tracking-tight text-zinc-500 uppercase"
        >
          <%= section.name %>
        </h2>

        <div class="flex w-full flex-col">
          <% section.tools.forEach(tool => { %>
          <div class="group relative py-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              class="fill-pearl absolute inset-y-2 left-0 size-6 -translate-x-full opacity-0 duration-200 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                d="M504-480 348-636q-11-11-11-28t11-28q11-11 28-11t28 11l184 184q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L404-268q-11 11-28 11t-28-11q-11-11-11-28t11-28l156-156Z"
              />
            </svg>

            <% if (content.selectedTool && content.selectedTool == tool.id) { %>
            <a
              class="text-pearl cursor-pointer font-semibold underline"
              href="/<%= tool.path %>"
            >
              <%= tool.name %>
            </a>
            <% } else { %>
            <a
              class="hover:text-pearl relative inline-block cursor-pointer text-zinc-300 duration-200 group-hover:translate-x-8"
              href="/<%= tool.path %>"
            >
              <%= tool.name %>
            </a>
            <% } %>
          </div>
          <% }) %>
        </div>
      </div>
      <% }) %>
    </aside>

    <main
      class="absolute inset-0 top-16 flex flex-col items-center justify-center overflow-y-scroll bg-zinc-800 p-6 duration-200 lg:top-24 lg:right-4 lg:bottom-4 lg:left-4 lg:rounded-xl"
    >
      <%- include('../pages/' + layout.content) %>
    </main>
  </body>

  <script defer>
    function openToolbar() {
      $("main").addClass("lg:left-72").removeClass("lg:left-4");
      $("#toolbar").removeClass("-translate-x-full").addClass("lg:left-4");
    }

    function closeToolbar() {
      $("#toolbar").addClass("-translate-x-full").removeClass("lg:left-4");
      $("main").removeClass("lg:left-72").addClass("lg:left-4");
    }

    $("#toolbar-close").click(closeToolbar);
    $("#toolbar-toggle").click(() => {
      if ($("#toolbar").hasClass("-translate-x-full")) {
        openToolbar();
      } else {
        closeToolbar();
      }
    });
  </script>
</html>
